@import "../../styles/Variables.scss";

.cmd {
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 2rem;
}

.cmd-icon,
.cmd-input {
  background-color: var(--white-color);
  border: 2px solid var(--light-border-color);
  box-shadow: $box-shadow;
}

.cmd-icon {
  border-radius: 50%;
  padding: 0.9rem;

  transition: all $transition;

  &:hover {
    border-color: var(--border-color);
  }
}

.cmd-input {
  border-radius: 1rem;

  &__body {
    padding: 0 2rem 2rem 2rem;

    & > form > input {
      width: 100%;
    }

    &__heading {
      margin-bottom: 0.75rem;
    }
  }
}

.vt-interval-input {
  width: 100%;

  & > form {
    display: flex;
    align-items: center;

    & > input {
      flex-grow: 1;
    }
  }

  &__heading {
    display: inline-block;
    margin-right: 1rem;
  }
}

.close-cmd-input {
  text-align: right;
  transition: all $transition;
  color: var(--gray-color);

  &:hover {
    color: var(--primary-color);
  }

  padding: 0.5rem 0.5rem 0 0;
}
