.cmd-input {
  // text-align: center;
  width: 100%;

  & > h1 {
    margin-top: 1rem;
  }

  & > form > input {
    width: 100%;
  }

  &__verdict {
    text-align: left;
  }
}

.vt-interval-input {
  width: 100%;

  & > form {
    display: flex;
    align-items: center;

    & > input {
      flex-grow: 1;
    }
  }

  &__heading {
    display: inline-block;
    margin-right: 1rem;
  }
}
