@import "Variables.scss";

input {
  padding: 0.5rem;
  border: 2px solid var(--light-border-color);
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: var(--border-color);
    transition: $transition;
  }
}

button,
.clickable {
  cursor: pointer;
}

.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-primary-sm,
.btn-secondary-sm,
.btn-tertiary-sm {
  font-weight: bold;
  text-transform: uppercase;
  transition: all $transition;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  padding: 1rem 2rem;
  border-radius: $border-radius;
}

.btn-primary-sm,
.btn-secondary-sm,
.btn-tertiary-sm {
  padding: 0.7rem 1rem;
  border-radius: $border-radius-sm;
}

.btn-primary,
.btn-primary-sm {
  background: var(--light-green);
  border: solid $border-width-sm var(--green);

  &:hover {
    background: var(--less-light-green);
    border-color: var(--dark-green);
  }
}

.btn-secondary,
.btn-secondary-sm {
  background: var(--light-orange);
  border: solid $border-width-sm var(--orange);

  &:hover {
    background: var(--orange);
    border-color: var(--dark-orange);
  }
}

.btn-tertiary,
.btn-tertiary-sm {
  background: var(--light-blue);
  border: solid $border-width-sm var(--bright-blue);

  &:hover {
    background: var(--bright-blue);
    border-color: var(--cobalt-blue);
  }
}

.submit-btn {
  max-width: $xsm;
  width: 100%;
  display: block;
  margin: 2rem auto 0 auto;
}

.comp-heading {
  margin: 0.5rem 0 0.5rem 0;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-circular {
  border-radius: 100rem;
}
