$padding-lg: 2rem;
$padding-md: 1.2rem;
$xsm: 400px;
$sm: 576px;
$md: 768px;
$amd: 940px;
$lg: 1200px;
$xl: 1600px;
$app-margin-top: 2rem;
$img-size-md: 37px;
$img-size-lg: 45px;
$border-radius-sm: 5px;
$border-radius: 10px;
$border-radius-lg: 1rem;
$border-width-sm: 1px;
$border-width: 2px;
$transition: 0.2s ease-in-out;

$border-color-biege: #c5c5c5;
$border-color-focus: #aaa;
$light-blue-bg: #e0e8ff;
