@import "../../styles/Variables.scss";

.stats {
  width: 100%;
}

.stat-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  // background-color: $bg-color-biege;
  background-color: var(--bright-background-color);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--light-border-color);
  // box-shadow: $box-shadow;

  // &__col {

  // }

  &__item {
    margin-top: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
