@import "../../styles/Variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 auto;

  background-color: var(--bright-background-color);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 2px solid var(--light-border-color);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;

  @media (max-width: $sm) {
    font-size: 1.2rem;
  }
}
