* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #333;
  --light-orange: #ff9f1c;
  --orange: #f29a13;
  --dark-orange: #cf9a6a;
  --lesser-dark-color: #1f1f1f;
  --less-dark-color: #2c2c2c;
  --dark-color: #141414;
  --black-color: #030303;
  --light-color: #e4e4e4;
  --gray-color: #6b7688;
  --light-gray-color: #9ba4b3;
  --light-brown: #b9b9b9;
  --brown: #46364a;
  --dark-brown: #2e2e2e;
  --white-color: #ffffff;
  --light-border-color: #c5c5c5;
  --border-color: #aaa;
  --background-color: #ece8e1;
  --bright-background-color: #f4f1ed;
  --complementary-background-color: #e1e5ec;
  --secondary-background-color: #f5f5f5;
  --light-green: #b9f2b9;
  --less-light-green: #a1ffa1;
  --green: #07b907;
  --dark-green: #78ab73;
  --light-blue: #00b4ff;
  --bright-blue: #0096ff;
  --cobalt-blue: #0047ab;
  --shadow-color: rgba(0, 0, 0, 0.2);
}
